* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    width: 1328px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}
/* +++++++++++++++++ */
header a, footer h2, footer h3,footer h4 {
    color: white;
}
/* header */
header {
    height: 10rem;
    /* background-color: #6464ce; */
    background-color: #444465;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header__logo {
    margin-left: 40px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header__logo img {
    width: 70px;
}
.header__nav {
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 300px;
}
header a:hover {
    color: #d6fd23;
    filter: drop-shadow(1px 1px 10px #d6fd23);
}
.header__login {
    margin-right: 60px;
}
/* main */
.main__img--head {
    margin: 0 auto;
    width: calc(100% - 48px);
}
/* footer */
footer {
    margin-top: 1px;
    background-color: #444465;  
}
footer img {
    width: 60px;
}
.footer__top {
    display: flex;
    justify-content: space-around;
    height: 300px;
}
.footer__top:only-child {
    padding: 60px;
}
.footer__bottom {
    background-color: #3c3c3c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__link--logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* service box */
.service-box {
    position: absolute;
    width: 170px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    margin-top: 250px;
    margin-left: 246px;
    visibility: hidden;
    box-shadow: 1px 1px 10px black;
    transition: 0.1s;
}
.service-box h3 {
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}
.service-on:hover ~ .service-box, .service-box:hover {
    visibility: visible;
}
.service-box a {
    height: 43px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}
.service-box h3 {
    margin-top: 35px;
}
.service-box a:hover {
    filter: none;
    background-color: #7298fc;
    border-radius: 8px;
}
.footer__top h1 {
    color: white;
}
.footer__introduce {
    width: 340px;
}
main {
    margin-top: 100px;
}
.login {
    width: 100px;
    margin-right: 60px;
}